params {
  bamcmp_1 {
    // Built-in parameters
    args = ""
    }
}


process {
  withName: bamcmp_1 {
    container = "quay.io/biocontainers/bamcmp:2.2--h05f6578_0"
    // Resources
    
    // Error handling
    
    
    // Results
    // Custom directive
    ext.args = params.bamcmp_1.args
    
  }
}

